<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
    <body>
    <!--Add a registration form here -->
    <div class="container">
    <form action="{% url 'djangoapp:registration' %}" method="post">
          <h1>Sign Up</h1>
          <hr>
<div class="form-group">
  <label for="username"><b>User Name</b></label>
  <div class="form-group">
  <input type="text" placeholder="Enter User Name: "   id="username"     name="username" required>
  </div>
</div>
<div class="form-group">
  <label for="first_name"><b>First Name</b></label>
  <div class="form-group">
  <input type="text" placeholder="Enter First Name: "  id="first_name" name="first_name" required>
  </div>
</div>
<div class="form-group">
  <label for="last_name"><b>Last Name</b></label>
  <div class="form-group">
  <input type="text" placeholder="Enter Last Name: "   id="last_name"  name="last_name" required>
  </div>
</div>
<div class="form-group">
  <label for="password"><b>Password</b></label>
  <div class="form-group">
  <input type="password" placeholder="Enter Password: " id="password"  name="password"  required>
  </div>
</div>
{% csrf_token %}
<button type="submit" >Sign Up</button>
</form>
</div>
</body>
</html>
